{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{block title}
    Dashboard
{/block}

{block content}

{control baseBreadcrumb []}

<div class="page_in_progress todo">
    <div class="page_in_progress_title">
        <h2>V přípravě</h2>
        <p>Sekce se bude připravovat později.</p>
    </div>
</div>