{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{block title}
    Dashboard
{/block}

{block content}

{control baseBreadCrumb []}

<div class="d-flex justify-content-center align-items-center text-center h-75 pt-5">
    <div class="mt-5">
        <h1>Site Manager</h1>
        <p>Nacházíte se v Site Manageru, v navigačním menu vyberte modul, který chcete spravovat.</p>
    </div>
</div>